<div class="container">

   
   
      
      <div class="input-group" style="margin-bottom:20px; margin-top:150px">
        <input style="max-width: 30%" type="text" placeholder="Search..." class="form-control">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-search"></i>
          </button>  
        </div>
      </div>

        <table class="table table-bordered">
            <thead>
            <tr style="text-align: center;">
                <th scope="col">Edit</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Favourite</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr style="text-align: center;">
                <td scope="row"><i class="fa fa-edit" style="font-size:x-large; color: #007bff;"></i></td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td scope="row"><i class="fa fa-trash" style="font-size: x-large; text-align: center; color: red; cursor: pointer;"></i></td>
            </tr>
            <tr style="text-align: center;">
                <td scope="row"><i class="fa fa-edit" style="font-size:x-large; color: #007bff;"></i></td>
                <td>Mark</td>
                <td>Otto</td>
                <td>fineas@mdo</td>
                <td>0760504498</td>
                <td>@mdo</td>
                <td scope="row"><i class="fa fa-trash" style="font-size: x-large; text-align: center; color: red; cursor: pointer;"></i></td>
            </tr>
            <tr style="text-align: center;">
                <td scope="row"><i class="fa fa-edit" style="font-size:x-large; color: #007bff;"></i></td>
                <td>Mark</td>
                <td>Otto</td>
                <td>fineas@mdo</td>
                <td>0760504498</td>
                <td>@mdo</td>
                <td scope="row"><i class="fa fa-trash" style="font-size: x-large; text-align: center; color: red; cursor: pointer;"></i></td>
            </tr>
            <tr style="text-align: center;">
                <td scope="row"><i class="fa fa-edit" style="font-size:x-large; color: #007bff;"></i></td>
                <td>Mark</td>
                <td>Otto</td>
                <td>fineas@mdo</td>
                <td>0760504498</td>
                <td>@mdo</td>
                <td scope="row"><i class="fa fa-trash" style="font-size: x-large; text-align: center; color: red; cursor: pointer;"></i></td>
            </tr>
            </tbody>
        </table>

        
            <button style="float: right;" class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false">
              <i style="padding-right:10px" class="fa fa-plus"></i> Add Contact
            </button>  
        
</div>