<nav class="navbar navbar-dark bg-dark">
    <a style="line-height:30px; margin-left:40px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif" class="navbar-brand" href="#">
      <img src="assets/contact.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="text-secondary" style="margin-left:6px"> ContactsApp</span>
    </a>

    <span class="navbar-text">
        <button (click)="logOut()" type="button" class="btn btn-outline-secondary"><a style="text-decoration:none" routerLink="/login">
            <span *ngIf="spinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Log Out</a></button>
    </span>
</nav>