/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


/* Importing Font-Awesome. */
@import '~font-awesome/css/font-awesome.css';

html, body { height: 100%; }
.modal-backdrop{
    z-index: 0 !important;
}




.mat-tab-label, .mat-tab-link{
    color: black; 
}

.mat-drawer-container{
    color: black !important;
}