button{
    background-color: #0070ba;
    border-color: #0070ba;
}

.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

input{
    height: 40px;
}

#form{
    padding: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgba(128, 128, 128, 0.178);
}

.logo{
    width: 40%;
}

#imagine{
    display: flex;
    justify-content: center;
}

button{
    font-weight:500;
}