<div id="form">
    <form>
        <div id="imagine">
            <img class="logo" src="assets/contacts.png" alt="Paris">
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>   
        <div class="row pt-3">
            <div class="col-md-12">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <small id="emailHelp" class="form-text text-muted">We'll never share your freaking password with anyone else.</small>
            </div>
        </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">Log In</button>
    </form>
</div>    