<div id="form">
    <form [formGroup]="loginForm" (ngSubmit)="LogIn()">
        <div id="imagine">
            <img class="logo" src="assets/contacts.png" alt="Paris">
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="email" class="form-control" name="email" formControlName="email" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger border border-danger">
                        <p>Please enter a valid email</p>
                        <div *ngIf="email.errors?.required"><p>Email is required.</p></div>
                    </div>
                </small>
            </div>
        </div>   
        <div class="row pt-3">
            <div class="col-md-12">
                <input type="password" class="form-control" formControlName="password" id="Password" placeholder="Password">
                <small id="emailHelp" class="form-text text-muted">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger border border-danger">
                        <p>Please enter a password</p>
                        <div *ngIf="password.errors?.required"><p>Password is required.</p></div>   
                        <div *ngIf="password.errors?.minlength">Password must be at least 4 characters long.</div>
                    </div>
                </small>
            </div>
        </div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block mt-4">
                <span *ngIf="spinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>    
                    Log In
            </button>
    </form>
</div>